<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>esms</display-name>
  
  <servlet>
  	<servlet-name>LoginPage</servlet-name>
  	<servlet-class>servlet.manager.LoginPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginPage</servlet-name>
  	<url-pattern>/manager/login_page</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LoginCheck</servlet-name>
  	<servlet-class>servlet.manager.LoginCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginCheck</servlet-name>
  	<url-pattern>/manager/login_check</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LoginOut</servlet-name>
  	<servlet-class>servlet.manager.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginOut</servlet-name>
  	<url-pattern>/manager/login_out</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>MainPageServlet</servlet-name>
  	<servlet-class>servlet.manager.MainPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MainPageServlet</servlet-name>
  	<url-pattern>/manager/main_page</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>GoodsListServlet</servlet-name>
  	<servlet-class>servlet.manager.GoodsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GoodsListServlet</servlet-name>
  	<url-pattern>/manager/goods_list</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>GoodsDeleteServlet</servlet-name>
  	<servlet-class>servlet.manager.GoodsDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GoodsDeleteServlet</servlet-name>
  	<url-pattern>/manager/goods_delete</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>GoodsAddServlet</servlet-name>
  	<servlet-class>servlet.manager.GoodsAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GoodsAddServlet</servlet-name>
  	<url-pattern>/manager/goods_add</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>GoodsEditServlet</servlet-name>
  	<servlet-class>servlet.manager.GoodsEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GoodsEditServlet</servlet-name>
  	<url-pattern>/manager/goods_edit</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>GoodsSaveServlet</servlet-name>
  	<servlet-class>servlet.manager.GoodsSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GoodsSaveServlet</servlet-name>
  	<url-pattern>/manager/goods_save</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UserListServlet</servlet-name>
  	<servlet-class>servlet.manager.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserListServlet</servlet-name>
  	<url-pattern>/manager/user_list</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserDeleteServlet</servlet-name>
  	<servlet-class>servlet.manager.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserDeleteServlet</servlet-name>
  	<url-pattern>/manager/user_delete</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>EvaluateListServlet</servlet-name>
  	<servlet-class>servlet.manager.EvaluateListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EvaluateListServlet</servlet-name>
  	<url-pattern>/manager/evaluate_list</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EvaluateDeleteServlet</servlet-name>
  	<servlet-class>servlet.manager.EvaluateDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EvaluateDeleteServlet</servlet-name>
  	<url-pattern>/manager/evaluate_delete</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>UploadServlet</servlet-name>
  	<servlet-class>servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UploadServlet</servlet-name>
  	<url-pattern>/upload</url-pattern>
  </servlet-mapping>
  
  <filter>  
    <filter-name>LoginFilter</filter-name>  
    <filter-class>filter.manager.LoginFilter</filter-class>  
    </filter>  
    <filter-mapping>  
    <filter-name>LoginFilter</filter-name>  
    <url-pattern>/manager/*</url-pattern>  
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>