.height20px {
	height: 20px;
}
.height30px {
	height: 30px;
}
.height40px {
	height: 40px;
}
.height10p {
	height: 10%;
}

.height70p {
	height: 70%;
}

.height80p {
	height: 80%;
}

.height85p {
	height: 85%;
}

.height90p {
	height: 90%;
}

.height95p {
	height: 95%;
}

.height100p {
	height: 100%;
}